.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(95, 95, 95);
  padding: 20px 20px;
  margin: 0 auto;
  z-index: 1000;
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.menu-items li {
  margin: 0 30px;
  transition: transform 0.3s ease;
}

.menu-items li:hover {
  transform: scale(1.1);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #ffffff;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .menu-items {
    justify-content: center;
    margin-bottom: 10px;
  }

  .menu-items {
    flex-direction: column;
  }

  .navbar ul li {
    margin: 10px 0;
  }
}

html {
  scroll-behavior: smooth;
}