.about-me-container {
  background-color: #747474;
  min-height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4rem;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  max-width: 1200px;
  min-height: 650px;
}

.profile-section {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 5px solid black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-photo:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.info-section {
  flex: 0 0 40%;
  text-align: center;
}

.info-section h1 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #ffffff;
}

/* Info Box Modifications */
.info-boxes {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.info-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  overflow: hidden; /* Hide content overflow */
  max-height: 40px; /* Initially show only the title */
  transition: max-height .9s ease, transform 1s ease, box-shadow 0.8s ease; /* Slow down the expansion */
  cursor: pointer; /* Makes the box clickable */;
}

.info-box h2 {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 0; /* Remove bottom margin to keep it compact */
  text-align: center; /* Ensure the title is centered */
}

.info-box p {
  font-size: 17px;
  color: #000000;
  line-height: 1.2;
  opacity: 0; /* Initially hide the text */
  transition: opacity 0.5s ease; /* Smooth transition for text reveal */
}

.info-box:hover {
  max-height: 400px; /* Expands the box to show content */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.info-box:hover p {
  opacity: 1; /* Reveal the text on hover */
}

.social-icons {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.icon {
  width: 75px;
  height: 75px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.about-me-container h1 {
  font-size: 36px;
  text-align: center;
  padding-bottom: 2rem;
}

.icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .content-wrapper {
      flex-direction: column;
      align-items: center;
  }

  .profile-section,
  .info-section {
      flex: 0 0 100%;
      text-align: center;
  }

  .info-boxes {
      align-items: center;
  }
}

@media (max-width: 768px) {
  .profile-photo {
      width: 250px;
      height: 250px;
  }

  .info-box {
      width: 90%;
  }

  .info-section h1 {
      font-size: 28px;
  }

  .icon {
      width: 35px;
      height: 35px;
  }
}